.studyCard {
  min-height: 220px;
  background-color: var(--color-green-light);
  padding: 30px;
  border-radius: 16px;

  display: flex;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardTitle {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--color-green-text);
}

.pointBadge {
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: var(--font-size-xs)
}

.studyProcess {
  margin-top: 4px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}

.studyDescription {
  margin-top: 30px;
  font-size: var(--font-size-md);
  color: var(--color-gray-900);
}

.reactions {
  margin-top: auto;

  display: flex;
  gap: 8px;
}

.reactions span {
  background-color: var(--color-gray-500);
  padding: 6px 8px;
  border-radius: 12px;

  color: #fff;
  font-size: var(--font-size-xs);
}