.arrowButton {
  display: inline-block;
  padding: 12px 16px 12px 24px;
  margin-right: 16px;
  border: 1px solid var(--color-gray-300);
  border-radius: 15px;
  background-color: #fff;
  cursor: pointer;
  color: var(--color-gray-500);
  text-decoration: none;
  &:last-child {
    margin-right: 0;
  }
  & span {
    display: inline-block;
    margin-right: 4px;
    margin-top: 1px;
    font-size: var(--font-size-md);
  }
  & span,
  img {
    vertical-align: middle;
  }
}
