.container {
  margin: 24px 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto repeat(7, 1fr);
  align-items: center;
}

.dayHeader {
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: 400;
  color: var(--color-gray-500);
}

.habitTitle {
  padding: 21.5px 24px;
  white-space: nowrap;
  text-align: right;
  color: var(--color-gray-900);
  font-weight: 700;
  font-size: var(--font-size-lg);
  word-break: keep-all;
}
