/* Header */
.controlsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .controls {
    order: 1;
  }
}
.titleContainer {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  & .title {
    font-size: var(--font-size-3xl);
    font-weight: 800;
    color: var(--color-gray-900);
  }
  & .titleButtons {
    display: flex;
    gap: 16px;
  }
}

.label {
  font-size: var(--font-size-lg);
  color: var(--color-gray-500);
}

.descriptionContainer {
  margin-top: 16px;
  & .description {
    margin-top: 8px;
    font-size: var(--font-size-lg);
    line-height: 1.333333;
    color: var(--color-gray-900);
  }
}

.pointContainer {
  margin-top: 24px;
  & .badge {
    display: inline-block;
    padding: 8px 12px;
    margin-top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    & span {
      margin-left: 4px;
      font-size: var(--font-size-md);
      font-weight: 500;
      color: var(--color-gray-900);
    }
    & span,
    img {
      vertical-align: middle;
    }
  }
}

/* studyHeader tablet */
@media (max-width: 744px) {
  .controllsContainer {
    & .controlls {
      & button {
        font-size: var(--font-size-sm);
      }
    }
  }
  .titleContainer {
    display: block;
    & .title {
      font-size: var(--font-size-2xl);
    }
    & .titleButtons {
      margin-top: 16px;
    }
  }

  .label {
    font-size: var(--font-size-md);
  }

  .descriptionContainer {
    & .description {
      font-size: var(--font-size-sm);
    }
  }
}

/* studyHeader mobile */
@media (max-width: 375px) {
  .controlsContainer {
    display: block;
    & .reaction {
      margin-top: 16px;
      & .addWrapper {
        & .emojiControler {
          position: absolute;
          top: 40px;
          left: auto;
          right: 0px;
        }
      }
    }
    & .controls {
      text-align: right;
    }
  }
  .titleContainer {
    display: block;
    & .title {
      font-size: var(--font-size-2xl);
    }
    & .titleButtons {
      margin-top: 16px;
    }
  }

  .label {
    font-size: var(--font-size-md);
  }

  .descriptionContainer {
    & .description {
      font-size: var(--font-size-sm);
    }
  }
}
